body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: rgb(229, 224, 224);
}

nav {
    background: rgb(62, 158, 190);
    color: white;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

nav a:hover {
    background: white;

}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(white,grey);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 120px;
}

footer a:hover {
    background: rgb(226, 226, 226);
}